{% include 'store/base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h3 style="color: white;" class="font-weight-bold">{{ heading }}</h1>
            <p style="color: white;" class="lead font-weight-normal">These are all your {{ heading|lower }}.</p>
      </div>
    </div>

    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Phone Number</th>
                <th>Offer</th>
                <th>Reference</th>
                <th>Txn. Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for txn in txns %}
                <tr>
                    <td>{{ txn.bundle_number }}</td>
                    <td>{{ txn.offer }}</td>
                    {% if txn.transaction_status == "Success" %}
                        <td>{{ txn.batch_id }}</td>
                    {% else %}
                        <td>{{ txn.reference }}</td>
                    {% endif %}
                    <td>{{ txn.transaction_date }}</td>
                    <td>{{ txn.transaction_status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock content %}